@model BulkBook.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2>List of Orders</h2>
        </div>
        <div class="col-6">
            <a asp-action="Index" asp-controller="Order" asp-route-status="pending">
                Pending
            </a>
            <a asp-action="Index" asp-controller="Order" asp-route-status="approved">
                Approved
            </a>
            <a asp-action="Index" asp-controller="Order" asp-route-status="underprocess">
                Under Process
            </a>
            <a asp-action="Index" asp-controller="Order" asp-route-status="Shipped">
                Shipped
            </a>
            <a asp-action="Index" asp-controller="Order" asp-route-status="all">
                All
            </a>
        </div>
      
    </div>
</div>
<table id="myTable" class="table table-bordered table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Order Status</th>
            <th>Order Total</th>
            <th>Action</th>
        </tr>
    </thead>

</table>
@section scripts{
    <script src="~/js/Order.js"></script>
}